/* *** page-home page-slider */
.page-home .container-page-slider {
  padding: 0;
  position: relative; }
  .page-home .container-page-slider .page-slider-items .item {
    height: 45%;
    overflow: hidden;
    position: relative; }
    .page-home .container-page-slider .page-slider-items .item .title {
      width: 100%;
      max-width: 1194px;
      padding-left: calc(var(--bs-gutter-x));
      padding-right: calc(var(--bs-gutter-x));
      color: #ffffff;
      font-size: 28px;
      font-weight: 400;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      position: absolute;
      bottom: 100px;
      left: auto;
      right: 50%;
      transform: translateX(50%); }
    .page-home .container-page-slider .page-slider-items .item .image-box {
      width: 100%;
      height: 45%; }
      .page-home .container-page-slider .page-slider-items .item .image-box img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        object-fit: cover;
        -o-object-fit: cover;
        transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
        transform: scale(1.2); }
      .page-home .container-page-slider .page-slider-items .item .image-box:before {
        content: '';
        padding-top: 45%;
        display: block; }
      .page-home .container-page-slider .page-slider-items .item .image-box:after {
        background-color: rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 0; }
    .page-home .container-page-slider .page-slider-items .item.slick-active img {
      transform: scale(1); }
  .page-home .container-page-slider .page-slider-items .slider-track {
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1); }
  .page-home .container-page-slider .slick-counter-button {
    width: 100%;
    max-width: 1194px;
    padding-left: calc(var(--bs-gutter-x));
    padding-right: calc(var(--bs-gutter-x));
    display: inline-flex;
    align-items: center;
    justify-content: right;
    position: absolute;
    right: 50%;
    bottom: 30px;
    transform: translateX(50%); }
    .page-home .container-page-slider .slick-counter-button:before {
      width: 450px;
      border-top: 2px solid #ffffff;
      content: '';
      position: absolute;
      top: -5px;
      right: calc(var(--bs-gutter-x)); }
    .page-home .container-page-slider .slick-counter-button .slick-prev-custom, .page-home .container-page-slider .slick-counter-button .slick-next-custom {
      background-color: transparent;
      display: inline-flex;
      padding: 0;
      border: 0; }
      .page-home .container-page-slider .slick-counter-button .slick-prev-custom .icon, .page-home .container-page-slider .slick-counter-button .slick-next-custom .icon {
        color: #ffffff;
        font-size: 20px;
        display: inline-flex; }
        .page-home .container-page-slider .slick-counter-button .slick-prev-custom .icon:hover, .page-home .container-page-slider .slick-counter-button .slick-next-custom .icon:hover {
          color: #9D1A15; }
    .page-home .container-page-slider .slick-counter-button .slick-next-custom {
      margin-left: 5px; }
    .page-home .container-page-slider .slick-counter-button .slick-counter {
      font-family: 'IranSans';
      color: #ffffff;
      font-size: 18px;
      text-align: left;
      padding-right: 350px; }
      .page-home .container-page-slider .slick-counter-button .slick-counter .active {
        font-size: 32px; }

@media (max-width: 768px) {
  .page-home .container-page-slider .page-slider-items .item .image-box {
    min-height: 300px; } }
@media (max-width: 576px) {
  .page-home .container-page-slider .slick-counter-button:before {
    width: 300px; }
  .page-home .container-page-slider .slick-counter-button .slick-counter {
    padding-right: 200px; } }
/* *** page-home category */
.page-home .container-category {
  width: 100%;
  display: inline-flex; }
  .page-home .container-category .category-item {
    flex-basis: 33.33%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 60px 0;
    position: relative; }
    .page-home .container-category .category-item .title {
      color: #000000;
      font-size: 18px;
      font-weight: 700;
      margin-top: 15px; }
    .page-home .container-category .category-item svg, .page-home .container-category .category-item svg path {
      width: 160px;
      height: 160px;
      fill: #000000 !important; }
    .page-home .container-category .category-item:hover {
      background-color: #9D1A15;
      background-image: url("../../image/home-bg-category.jpg");
      background-repeat: repeat; }
      .page-home .container-category .category-item:hover .title {
        color: #ffffff; }
      .page-home .container-category .category-item:hover svg, .page-home .container-category .category-item:hover svg path {
        fill: #ffffff !important; }

@media (max-width: 992px) {
  .page-home .container-category .category-item {
    padding: 40px 0; }
    .page-home .container-category .category-item svg, .page-home .container-category .category-item svg path {
      width: 120px;
      height: 120px; } }
@media (max-width: 768px) {
  .page-home .container-category .category-item {
    padding: 20px 0; }
    .page-home .container-category .category-item svg, .page-home .container-category .category-item svg path {
      width: 90px;
      height: 90px; } }
/* *** page-home about */
.page-home .container-about {
  background-color: #302C83;
  position: relative;
  background-image: url("../../image/about/bg-about-vision-03-02.png");
  background-size: 350px;
  background-repeat: no-repeat;
  background-position: -60px bottom; }
  .page-home .container-about:before {
    background-color: #000000;
    width: 50%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    right: 0; }
  .page-home .container-about .col-video {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: relative; }
    .page-home .container-about .col-video .video-poster {
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
      object-fit: cover;
      -o-object-fit: cover;
      font-family: "object-fit: cover;"; }
    .page-home .container-about .col-video .icon-play {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='150' height='150' viewBox='0 0 150 150'%3E%3Cg id='Group_349' data-name='Group 349' transform='translate(-945 -1301)'%3E%3Cg id='noun-play-1334699' transform='translate(827.4 1253.4)' opacity='0.8'%3E%3Cpath id='Path_2389' data-name='Path 2389' d='M192.6 197.6a75 75 0 1 0-75-75 75.046 75.046 0 0 0 75 75ZM174.528 90.793a2.542 2.542 0 0 1 3.8-2.168l44.819 31.807a2.38 2.38 0 0 1 0 4.156l-44.819 31.988a2.542 2.542 0 0 1-3.8-2.168Z' transform='translate(0)' fill='%23ffffff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      width: 150px;
      height: 150px;
      display: inline-flex;
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%); }
  .page-home .container-about .col-des {
    height: 100%;
    padding: 60px 60px 160px 60px; }
    .page-home .container-about .col-des .title {
      color: #ffffff;
      font-size: 28px;
      font-weight: 700; }
    .page-home .container-about .col-des .des {
      line-height: 30px;
      color: #ffffff;
      font-size: 14px;
      margin-top: 10px; }
    .page-home .container-about .col-des .link-more-box {
      width: 100%;
      text-align: left;
      margin-top: 20px; }
      .page-home .container-about .col-des .link-more-box .link-more {
        width: 140px;
        height: 50px;
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0 15px;
        border: 1px solid #ffffff;
        border-radius: 10px; }
        .page-home .container-about .col-des .link-more-box .link-more:hover {
          background-color: #9D1A15; }

@media (max-width: 992px) {
  .page-home .container-about:before {
    display: none; } }
@media (max-width: 576px) {
  .page-home .container-about .col-des {
    padding: 20px 20px 160px 20px; } }
/* *** page-home product */
.page-home .container-product {
  margin-top: 50px; }
  .page-home .container-product .product-items {
    position: relative; }
    .page-home .container-product .product-items .slick-slide {
      margin: 0 10px; }
    .page-home .container-product .product-items .slick-list {
      margin: 0 -10px; }

/* *** page-home banner */
.page-home .container-banner {
  background-image: url("../../image/home-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: 50px; }
  .page-home .container-banner .des {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    padding: 300px 0 50px 0; }

@media (max-width: 576px) {
  .page-home .container-banner .des {
    font-size: 18px; } }
/* *** page-home blog */
.page-home .container-blog {
  background-image: url("../../image/home-bg-blog.jpg");
  background-repeat: repeat;
  padding: 50px 0 100px 0; }
  .page-home .container-blog .blog-top-items {
    position: relative; }
    .page-home .container-blog .blog-top-items .slick-slide {
      margin: 0 10px; }
    .page-home .container-blog .blog-top-items .slick-list {
      margin: 0 -10px;
      overflow: visible; }

/* *** page-home certificate */
.page-home .container-certificate {
  background-color: #302C83;
  padding: 50px 0; }
  .page-home .container-certificate .certificate-items {
    position: relative; }
    .page-home .container-certificate .certificate-items .slick-slide {
      margin: 0 10px; }
    .page-home .container-certificate .certificate-items .slick-list {
      margin: 0 -10px;
      overflow: visible; }
    .page-home .container-certificate .certificate-items .certificate-item:hover {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); }
      .page-home .container-certificate .certificate-items .certificate-item:hover .des {
        color: #9D1A15; }

/* *** page-home instagram */
.page-home .container-instagram {
  margin-top: 50px; }
  .page-home .container-instagram .section-title {
    margin: 0; }
  .page-home .container-instagram .section-title-2 {
    margin: 10px 0 30px 0; }
    .page-home .container-instagram .section-title-2 .link {
      color: #808080;
      border: 0; }
  .page-home .container-instagram .instagram-items {
    position: relative; }
    .page-home .container-instagram .instagram-items .slick-list {
      overflow: visible; }
    .page-home .container-instagram .instagram-items .slide-instagram-item {
      width: 100%;
      position: relative; }
      .page-home .container-instagram .instagram-items .slide-instagram-item .image-box {
        width: 100%;
        height: 96.56%;
        float: left;
        position: relative; }
        .page-home .container-instagram .instagram-items .slide-instagram-item .image-box img {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          object-fit: cover;
          -o-object-fit: cover; }
        .page-home .container-instagram .instagram-items .slide-instagram-item .image-box:before {
          content: '';
          padding-top: 96.56%;
          display: block; }
        .page-home .container-instagram .instagram-items .slide-instagram-item .image-box:hover:after {
          background-color: rgba(48, 44, 131, 0.6);
          width: 100%;
          height: 100%;
          color: rgba(255, 255, 255, 0.6);
          font-size: 60px;
          font-family: uicons-brands !important;
          font-style: normal;
          font-weight: normal !important;
          font-variant: normal;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          content: '\f167';
          position: absolute;
          top: 0;
          left: 0; }

/* *** page-home footer */
.page-home .container-footer {
  margin: 0; }

/*# sourceMappingURL=page-01.css.map */
