@import '../global';

/* *** page-media */

.page-media
{
    .container-bread-crumb
    {
        background-image: url("../../image/bc/bg-bread-crumb-media.jpg");
    }
}

.page-media .container-media-filter
{
    .media-filter + .select2-container
    {
        .select2-selection--single
        {
            border-radius: 10px;
        }
    }
}

.page-media .container-media
{
    margin-top: 20px;
    position: relative;

    .media-item
    {
        width: 100%;
        display: inline-block;
        margin-bottom: 20px;
        border-radius: 10px;

        .image-box
        {
            height: 81.45%;
            position: relative;

            img
            {
                width: 100%;
                height: 100%;
                border-radius: 10px 10px 0 0;
                position: absolute;
                top: 0;
                right: 0;
                object-fit: cover;
                -o-object-fit: cover;
            }

            &:before
            {
                content: '';
                padding-top: 81.45%;
                display: block;
            }
        }

        .des
        {
            padding: 20px;

            .no-image
            {
                color: $colorGrayLight4;
                font-size: 12px;
                font-weight: 700;
                margin-bottom: 12px;
            }

            .title
            {
                width: 100%;
                color: $colorBlack;
                font-size: 14px;
                font-weight: 700;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }

        &:hover
        {
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }
    }
}
